* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.form-select{
    width: 60%;
}

.container-fluid {
    padding: 0;
}


.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#items-container {
    padding: 50px;
}

#items-container h2 {
    margin-bottom: 10px;
}


#cards-container {
    display: flex;
}

#items-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#items-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-price {
    font-size: 15px;
    color: rgb(43, 184, 50);
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-type {
    font-size: 14px;
    color: #757575;
}

#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #232527;
    color: #FFF;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
